.sideBar {
    grid-area: sidebar;
    padding: 25px;
    color: black;
    font-size: 26px;
    background-color: aliceblue;
    max-height: 500px;
    max-width: 230px;
    display: flex;
    flex-direction: column;

}

.sideBar a {
    margin-top: 20px;
    border: 1px solid lightgrey;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
}

.sideBar a:hover {
    background-color: lightgrey;
}
